.mat-elevation-z8{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.w-100 {
  width: 100%;
}


.text-end{
  text-align: right !important;
}

.thumbnail{
  border: 1px solid #e6e6e6;
 max-width: 120px;
  border-radius: 6px;
  margin: 8px 0;
  cursor: pointer;
}

.text-center {
  text-align: center;
  vertical-align: middle;
  max-width: 120px;
}

.hide{
  width: 0 !important;
}

mat-progress-bar {
  width: 100%;
  margin-top: 10px;
}

.percentLabel{
  margin-top: 5px;
  font-style: italic;
  font-weight: 100;
}